html{
    height: 100%;
    background: radial-gradient(circle, #fff, #ccc);
}

header{
    height: 50px;
    margin: auto 3px;
    border-radius: 10px;
    text-align: center;
    padding: 2px;
    color: blue;
    font-weight: 600;
    font-style: italic;
    font-family: cursive ;
    font-size: 45px;
}

#container {
    height: 600px;
    width: 750px;
    background-color: #9dd2ea;
    margin: 10px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 0px 0px #009de4;
    -moz-box-shadow: 0px 4px 0px 0px #009de4;
    -webkit-box-shadow: 0px 4px 0px 0px #009de4;
    position: relative;
}

#score {
    background-color: #f1ff92;
    color: #888e5f;
    padding: 11px;
    position: absolute;
    left: 700px;
    box-shadow: 0px 4px #9da853;
    -moz-box-shadow: 0px 4px #9da853;
    -webkit-box-shadow: 0px 4px #9da853;
}


#fruitContainer {
    width: 650px;
    height: 400px;
    position: relative;
    margin: 50px auto 10px auto;
    background-color: white;
    box-shadow: 0px 4px #535aa8;
    -moz-box-shadow: 0px 4px #535aa8;
    -webkit-box-shadow: 0px 4px #535aa8;
    font-size: 100px;
    text-align: center;
    font-family: cursive, sans-serif;
    overflow: hidden;
}

#instruction {
    width: 450px;
    height: 50px;
    background-color: #b481d9;
    margin: 10px auto;
    font-size: larger;
    text-align: center;
    line-height: 40px;
    box-shadow: 0px 4px #8153a8;
    -moz-box-shadow: 0px 4px #8153a8;
    -webkit-box-shadow: 0px 4px #8153a8;
}

%hover {
    background-color: #9c89f6;
    color: white;
    box-shadow: 0px 4px #6b54d3;
}

%active {
    box-shadow: 0px 0px #6b54d3;
    -moz-box-shadow: 0px 0px #6b54d3;
    -webkit-box-shadow: 0px 0px #6b54d3;
    top: 4px;
}


#startreset {
    width: 78px;
    background-color: rgba(255,255,255,0.5);
    margin: 0 auto;
    margin-top: 10px;
    padding: 10px;
    border-radius: 3px;
    cursor: pointer;
    box-shadow: 0px 4px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 4px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0px 4px rgba(0,0,0,0.2);
    text-align: center;
    position: relative;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;

    &:hover{
        @extend %hover;
    }

    &:active{
        @extend %active
    }
}

#trialsleft {
    width: 80px;
    padding: 10px;
    position: absolute;
    background-color: #f1ff92;
    border-radius: 3px;
    box-shadow: 0px 4px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 4px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0px 4px rgba(0,0,0,0.2);
    /* visibility: hidden; */
    /* Diff b/w (display:none) & (visibility: hidden) is that display does not allow element to interact with other element
    whereas visibility will allow the element to interact even in the hidden state. */
    display: none;
}

#gameover {
    height: 200px;
    width: 500px;
    background: linear-gradient(#f3ca6b, #f3706c);
    color: white;
    font-size: 2.5em;
    text-align: center;
    text-transform: uppercase;
    position: absolute;
    top: 170px;
    left: 145px;
    z-index: 2;
    display: none;
}

.heart{
    width: 16px;
    height: 16px;
    margin: 0 5px;
}

.fruit{
    display: none;
    position: absolute;
}

